// Utilities
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.u-full-width {
    width: 100%;
    box-sizing: border-box;
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}

.u-pull-right {
    float: right;
}

.u-pull-left {
    float: left;
}

// Alignment modifiers
.u-text-center {
    text-align: center;
}

.u-text-right {
    text-align: right;
}

.u-text-left {
    text-align: left;
}

.u-center-btn {
    display: block !important;
    text-align: center !important;
    margin-right: auto;
    margin-left: auto;
}

.u-pt-30 {
    padding-top: 30px;
}

.u-mt-30 {
    margin-top: 30px;
}

.u-pt-90 {
    padding-top: 90px;
}

.u-mt-90 {
    margin-top: 90px;
}

.u-pb-30 {
    padding-bottom: 30px;
}

.u-pb-60 {
    padding-bottom: 60px;
}

.u-mb-30 {
    margin-bottom: 30px;
}

.u-pb-90 {
    padding-bottom: 90px;
}

.u-mb-90 {
    margin-bottom: 90px;
}
