<section class="download-buy section-pad">
    <div class="container">
        <div class="row">
            <div class="six columns options-cont">
                <div class="options-box">
                    <div class="content">
                        <h5 >Share on social</h5>
                        {% include 'partials/socialbuttons.html.twig' with {'url' : page.url} %}
                    </div>
                </div>
            </div>
            <div class="six columns options-cont">
                <div class="options-box">
                    <div class="content">
                        <!--Mailchimp form-->
                        <h5 >Sign up for emails</h5>
                        <div id="mc_embed_signup">
                            <form action="//nishaemusic.us15.list-manage.com/subscribe/post?u=2bed49554046d2134c6e72171&amp;id=fc4bf4ef28" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                    <div class="mc-field-group">
                                    	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
                                    	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                    </div>
                                    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                                	<div id="mce-responses" class="clear">
                                		<div class="response" id="mce-error-response" style="display:none"></div>
                                		<div class="response" id="mce-success-response" style="display:none"></div>
                                	</div>
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                        <input type="text" name="b_2bed49554046d2134c6e72171_fc4bf4ef28" tabindex="-1" value="">
                                    </div>
                                    <div class="clear">
                                        <input type="submit" value="Yes please" name="subscribe" id="mc-embedded-subscribe" class="button dark">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
