{% set header_image = p.header.header_image|defined(true) %}
{% set header_image_width  = p.header.header_image_width|defined(1000) %}
{% set header_image_height = p.header.header_image_height|defined(600) %}
{% set header_image_file = p.header.header_image_file %}

<ul class="blog-nav-list">
    {% for p in page.find('/blog').children.slice(0, 3) if p != page %}
    <li class="{{ current_page }} nav-list-item">
        <a class="nav-link" href="{{ p.url }}">
            {% if header_image %}
                {% if header_image_file %}
                    {% set header_image_media = p.media.images[header_image_file] %}
                {% else %}
                    {% set header_image_media = p.media.images|first %}
                {% endif %}
                {{ header_image_media.cropZoom(header_image_width, header_image_height).html }}
            {% endif %}
            <h5>{{ p.title }}</h5>
        </a>
    </li>
    {% endfor %}
</ul>
