<footer class="footer">
    <div class="container">
        <div class="row clearfix">
            <div class="three columns">
                <a href="{{ base_url }}">
                    <img class="footer-logo" src="{{ url('theme://images/logo-white.svg') }}" alt="Nishae Music logo" />
                </a>

            </div>
            <div class="three columns">
                <h6>Follow me!</h6>
                {% include 'partials/footer-social.html.twig' %}
            </div>
            <div class="three columns">
                <h6>Support</h6>
                <a class= "nav-link patron-button" href="https://www.patreon.com/bePatron?u=769872">Become a Patron</a>
            </div>
            <div class="three columns">
                <h6>Get in touch</h6>
                <nav class="footer-nav-other">
                    <ul class="nav-list">
                        <li class="nav-list-item"><a class="nav-link" href="/contact">Contact</a></li>
                        <li class="nav-list-item"><a class="nav-link" href="/press">Press</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <span>&copy; 2016&ndash;{{ 'now'|date('Y') }} Alexandra Nitsche</span>
        </div>
    </div>
</footer>
