<ul class="social-nav-list">
    <li class="social-list-item twitter">
        <a class="social-link" href="https://twitter.com/nishaemusic" target="_blank" rel="noopener">
            <span class="social-icon typcn typcn-social-twitter"></span>
        </a>
    </li>
    <li class="social-list-item instagram">
        <a class="social-link" href="https://www.instagram.com/nishaemusic/" target="_blank" rel="noopener">
            <span class="social-icon typcn typcn-social-instagram"></span>
        </a>
    </li>
    <li class="social-list-item facebook">
        <a class="social-link" href="https://www.facebook.com/nishaemusic" target="_blank" rel="noopener">
            <span class="social-icon typcn typcn-social-facebook"></span>
        </a>
    </li>
    <li class="social-list-item youtube">
        <a class="social-link" href="https://www.youtube.com/channel/UCOMIxQfs3IJdQPfz8-yL9pA" target="_blank" rel="noopener">
            <span class="social-icon typcn typcn-social-youtube-circular"></span>
        </a>
    </li>
</ul>
