<section class="hero-show">
    <div class="blurb blurb-one">
      <span>meraki</span>
    </div>
    <div class="blurb blurb-two">
      <span>music</span>
    </div>
    <div class="blurb blurb-three">
      <span>love</span>
    </div>
    <div class="blurb blurb-four small">
      <span>meraki means leave a piece <br />of yourself in your work.</span>
    </div>
    <div class="blurb blurb-five small">
      <span>leave a piece <br />of your soul</span>
    </div>
    <div class="blurb blurb-six small">
      <span>leave a piece <br />of your creativity</span>
    </div>
    <div class="blurb blurb-seven">
      <span>
          <img src="{{ url('theme://images/logo-red.svg') }}" alt="Nishae Music Logo" />
      </span>
    </div>
</section>
