<div class="sidebar-floating">
    <h6 class="white">SONGS</h6>
    <ul class="sidebar-list">
        {% for p in page.find('/music').children if p != page %}
        <li class="sidebar-list-item">
            <h6 class="music-song-title">
                <a href="#{{ p.title | slice(0,3) }}">{{ p.title }}</a>
            </h6>
        </li>
        {% endfor %}
        <li class="sidebar-list-item">
            <h6>
                <a class="top" href="#top">Top of page</a>
            </h6>
        </li>
    </ul>
</div>
