<div class="side-cta">
    <div class="label">
        <span>Sign up</span>
    </div>
    <div class="inner-content">
        <p>I hope I didn’t offend you with a pop-up, but if you're here, you have an interest in my music & the Meraki Mission. I like to send out occasional emails (that I compose myself...usually once or twice a month) with updates about life/projects/my fears/the Meraki Mission/my mistakes/ the music etc. Please consider signing up!</p>
        <div id="mc_embed_signup">
            <form action="//nishaemusic.us15.list-manage.com/subscribe/post?u=2bed49554046d2134c6e72171&amp;id=fc4bf4ef28" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <div class="mc-field-group">
                        <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
                        <input type="email" value="" name="EMAIL" class="required email u-full-width" id="mce-EMAIL">
                    </div>
                    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_2bed49554046d2134c6e72171_fc4bf4ef28" tabindex="-1" value="">
                    </div>
                    <div class="clear">
                        <input type="submit" value="Yes please" name="subscribe" id="mc-embedded-subscribe" class="button warning">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
