<ul class="song-nav-list nav-list">
  {% for p in page.find('/music').children if p != page %}
      {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
      <li class="{{ current_page }} nav-list-item">
          <a class="nav-link" href="{{ p.url }}">
            {{ p.title }}
          </a>
      </li>
  {% endfor %}
</ul>

