{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}

    {% set ph = page.header %}

	{% block content %}

        {% if ph.homepageHeader %}
        {% include 'partials/blogHero.html.twig' %}
        {% endif %}

		<section class="blog-listings">
			<div class="container">
	          <div class="row">
				<div class="nine columns listing">
					{% for child in collection %}
				        {% include 'partials/blog_item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
                        <hr / />
				    {% endfor %}
				</div>
				<div class="three columns sidebar">
					{% include 'partials/sidebar.html.twig' with {'blog':page} %}
				</div>
	          </div>
			</div>
		</section>

	{% endblock %}

{% endembed %}
