{% embed 'partials/base.html.twig' %}

{% set collection = page.collection() %}

{% set ph = page.header %}

{% block content %}

{% if ph.homepageHeader %}
{% include 'partials/blog-hero.html.twig' %}
{% endif %}

<section class="blog-listings">
	<div class="container section-pad">
		<div class="row">
			{% for child in collection %}
			<div class="four columns">
				{% include 'partials/blog-item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
				<hr />
			</div>
			{% endfor %}
		</div>
	</div>
</section>

{% endblock %}

{% endembed %}
