{% extends 'partials/base.html.twig' %}

{% block content %}

{% if page.header.homepageHeader %}
<section class="header-img" style="background-image: url({{ page.media[page.header.homepageHeaderImg].url }})">
    <div class="container section-pad">
        <div class="box half">
            <h1 class="center">{{ page.title }}</h1>
        </div>
    </div>
</section>
{% endif %}

<section>
    <div class="container section-pad">
        {{ page.content }}
    </div>
</section>

{% if page.header.songSharing %}
{% include 'partials/download-buy-three-col.html.twig' %}
{% else %}
{% include 'partials/email-cta.html.twig' %}
{% endif %}

{% endblock %}
