{% embed 'partials/base.html.twig' %}
    {% set ph = page.header %}

    {% block content %}
    <section>
        <div class="container home-video">
            <div class="row">
                <div class="eight columns">
                    <div class="video-wrapper">
                        <iframe width="1280" height="720" src="{{ ph.videoEmbed }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="four columns">
                    <div class="" style="background-color: rgba(255,255,255, .75); padding: 20px; width: 100%;">
                        <p class="hero-quote">{{ ph.quote }}</p>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <section class="download-buy">
        <div class="container section-pad">
            <div class="row">
                <div class="four columns">
                    <div class="options-cont">
                        <div class="options-box">
                            <div class="content">
                                <a class="button dark u-full-width u-center-btn" href="/music">My Music</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="four columns">
                    <div class="options-cont">
                        <div class="options-box">
                            <div class="content">
                                <a class="button dark u-full-width u-center-btn" href="/support-me">Support = Love</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="four columns">
                    <div class="options-cont">
                        <div class="options-box">
                            <div class="content">
                                <a class="button dark u-full-width u-center-btn" href="/blog">The Meraki Mission</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-pad about-content">
        <div class="container">
            {{ page.content }}
        </div>
    </section>

    {% include 'partials/email-cta.html.twig' %}

    {% endblock %}
{% endembed %}
