{% embed 'partials/base.html.twig' %}

{% block content %}
<section class="blog-item-box">
    {% include 'partials/blog-item.html.twig' with {'blog':page.parent, 'truncate':false} %}
</section>
{% endblock %}

{% endembed %}
