{% extends 'partials/base.html.twig' %}

{% block content %}
  <div class="container">
    {{ page.content }}
    <div>
      <a class="button primary" href="#">test</a>
      <a class="button dark" href="#">test</a>
      <a class="button success" href="#">test</a>
      <a class="button warning" href="#">test</a>
      <a class="button danger" href="#">test</a>
    </div>
    
    <form>
      <input class="button primary" type="submit" />
      <input class="button primary" type="reset" />
      <input class="button primary" type="button" value="test" />
    </form>
    
  </div>
	
{% endblock %}
