{% embed 'partials/base.html.twig' %}
    {% set ph = page.header %}

    {% block content %}

    <section class="music-page">
        <div class="container section-pad">
            {{ page.content }}
        </div>
    </section>

    {% endblock %}

{% endembed %}
