// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button,
button[type="submit"] {
    display: inline-block;
    padding: 10px 30px;
    color: black;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    font-family: $yeseva-font-family;
    line-height: 38px;
    letter-spacing: .1rem;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    transition: $default-transition-all;
    text-transform: uppercase;
    letter-spacing: .1em;
    border: 2px solid black;
    position: relative;
    z-index: 10;

    // &:before {
    //     content: '';
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     bottom: -10px;
    //     left: -10px;
    //     z-index: -10;
    //     border: 2px solid black;
    //     transition: $default-transition-all;
    // }

    &.primary {
        background-color: white;
        border-color: $turq;
        color: $turq;

        &:before {
            border-color: $turq;
        }
    }

    &.secondary {
        border-color: $yellow;
        color: $yellow;

        &:before {
            border-color: $yellow;
        }
    }

    &.dark {
        border-color: $dark-blue;
        color: $dark-blue;

        &:before {
            border-color: $dark-blue;
        }
    }

    &.success {
        border-color: $green;
        color: $green;

        &:before {
            border-color: $green;
        }
    }

    &.warning {
        border-color: $orange;
        color: $orange;

        &:before {
            border-color: $orange;
        }
    }

    &.danger {
        border-color: $red;
        color: $red;

        &:before {
            border-color: $red;
        }
    }

    &.large {
        line-height: 38px;
        padding: 10px 30px;
        font-size: 17px;
    }
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    padding: 10px 30px;
    color: black;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    font-family: $yeseva-font-family;
    line-height: 38px;
    letter-spacing: .1rem;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    transition: $default-transition-all;
    text-transform: uppercase;
    letter-spacing: .1em;
    background-color: transparent;
    border: 2px solid black;

    // &:before {
    //     content: '';
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     bottom: -10px;
    //     left: -10px;
    //     z-index: -10;
    //     border: 2px solid black;
    //     transition: $default-transition-all;
    // }
}

.button,
button,
button[type="submit"],
input[type="submit"] {

    &:hover,
    &:focus,
    &:active {
        color: white;
        border-color: $dark-grey;
        outline: 0;

        &:before {
            bottom: -1px;
            left: -1px;
        }

        &.primary {
            background-color: $turq;
            border-color: $turq;
            @include button-hover;
        }

        &.secondary {
            background-color: $yellow;
            border-color: $yellow;
            @include button-hover;
        }

        &.dark {
            background-color: $dark-blue;
            border-color: $dark-blue;
            @include button-hover;
        }

        &.success {
            background-color: $green;
            border-color: $green;
            @include button-hover;
        }

        &.warning {
            background-color: $orange;
            border-color: $orange;
            @include button-hover;
        }

        &.danger {
            background-color: $red;
            border-color: $red;
            @include button-hover;
        }
    }

    input {
        &[type="submit"],
        &[type="reset"],
        &[type="button"] {

            &:hover,
            &:focus,
            &:active {
                color: $dark-grey;
                border-color: lighten($dark-grey, 33.3%);
                outline: 0;

                &.primary {
                    background-color: darken($link-color, 10%);
                    @include button-hover;
                }

                &.secondary {
                    background-color: darken($yellow, 10%);
                    @include button-hover;
                }

                &.dark {
                    background-color: darken($dark-blue, 10%);
                    @include button-hover;
                }

                &.success {
                    background-color: darken($green, 10%);
                    @include button-hover;
                }

                &.warning {
                    background-color: darken($orange, 10%);
                    @include button-hover;
                }

                &.danger {
                    background-color: darken($red, 10%);
                    @include button-hover;
                }
            }
        }
    }
}

@media (#{$bp-larger-than-desktop}) {

    .button,
    button,
    button[type="submit"] {

        &.large {
            height: 60px;
            line-height: 60px;
            padding: 0 60px;
            font-size: 22px;
        }
    }

}
