.home-video {
    padding: 60px;

    iframe {
        border: 2px solid $dark-blue;
    }
}

.hero-quote {
    position: relative;
    color: $dark-blue;

    a {
        display: block;
        color: $dark-blue;
        font-style: italic;
        text-transform: uppercase;
        letter-spacing: .1em;
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
            text-decoration: underline;
        }
    }

    &:after {
        position: absolute;
        left: -45px;
        top: 50px;
        line-height: 0;
        content: '“';
        font-family: ATCOverlook-Regular,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 12rem;
        color: $red;
    }
}


@media (#{$bp-larger-than-tablet}) {

    .hero-img {
        height: 80vh;
    }

    .hero-content {
        margin-top: 18%;
    }

    .hero-quote {
        font-size: 20px;
        margin-left: 40px;

        a {
            font-size: 18px;
        }
    }

}
