.hero-show {
    height: 70vh;
    position: relative;
    background-color: $dark-blue;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='64' viewBox='0 0 32 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 28h20V16h-4v8H4V4h28v28h-4V8H8v12h4v-8h12v20H0v-4zm12 8h20v4H16v24H0v-4h12V36zm16 12h-4v12h8v4H20V44h12v12h-4v-8zM0 36h8v20H0v-4h4V40H0v-4z' fill='%2335558F' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");

    .blurb {
        width: 100%;
        text-align: center;
        font-family: $yeseva-font-family;
        color: $red;

        position: absolute;
        top: 50%;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(-50%);

        span {
            font-size: 10em;
        }

        &.blurb-one {
            animation: blurb-one 4s;
            animation-delay: 2s;
            animation-fill-mode: forwards;
        }

        &.blurb-two {
            animation: blurb-two 4s;
            animation-delay: 6s;
            animation-fill-mode: forwards;
        }

        &.blurb-three {
            animation: blurb-two 4s;
            animation-delay: 10s;
            animation-fill-mode: forwards;
        }

        &.blurb-four {
            animation: blurb-two 6s;
            animation-delay: 14s;
            animation-fill-mode: forwards;
        }

        &.blurb-five {
            animation: blurb-two 6s;
            animation-delay: 20s;
            animation-fill-mode: forwards;
        }

        &.blurb-six {
            animation: blurb-two 6s;
            animation-delay: 26s;
            animation-fill-mode: forwards;
        }

        &.blurb-seven {
            animation: blurb-last 6s;
            animation-delay: 34s;
            animation-fill-mode: forwards;

            span {
                img {
                    width: 55%;
                }
            }
        }

        &.blurb-two,
        &.blurb-three,
        &.blurb-four,
        &.blurb-five,
        &.blurb-six,
        &.blurb-seven {
            opacity: 0;
        }

        &.small {

            span {
                font-size: 3em;
            }
        }
    }
}

.secondary-hero {
    h1,
    p {
        color: $yellow;
        text-align: center;
    }

    p {
        font-size: 1.25em;
    }
}

@keyframes blurb-one {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes blurb-two {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes blurb-last {
    from {opacity: 0;}
    to {opacity: 1;}
}

.hero-img {
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-content {
    margin-top: 18%;
    width: auto;
    padding: $base-padding;
    border-top-right-radius: 55px;
    border-bottom-left-radius: 55px;
    background-color: rgba(255,255,255,.25)
}

.secondary-hero {
    background-color: $red;
}

.home-video {
    // max-width: 60%;
    padding: 60px;

    iframe {
        border: 2px solid $dark-blue;
    }
}

@media (#{$bp-larger-than-tablet}) {

    .hero-img {
        height: 80vh;
    }

    .hero-content {
        margin-top: 18%;

    }

}

/*----------------------------*\
Coverflow Album Slider
\*-----------------------------*/
.coverflow {
    position: relative;
    height: 460px;
    padding: 30px;
    overflow: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.coverflow__item {

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {

        .coverflow__title {
            opacity: 0;
        }
    }

    &.active {

        .coverflow__title {
            position: absolute;
            bottom: 0;
            display: block;
            left: 50%;
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            opacity: 1;
        }
    }
}

.coverflow__image {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 400px;
    height: 400px;
    -webkit-transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.coverflow__image[data-coverflow-index] {
    position: absolute;
    left: 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.coverflow__image[data-coverflow-index]:before {
    content: " ";
    z-index: 1;
    position: absolute;
    top: 300px;
    width: 100%;
    height: 10%;
    box-shadow: $default-box-shadow;
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="1"] {
    z-index: 10;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    box-shadow: $default-box-shadow;
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="2"] {
    z-index: 9;
    -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
    transform: translateX(10px) scale(0.65) rotateY(-45deg);
    opacity: 0.5;
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="3"] {
    z-index: 8;
    -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
    transform: translateX(100px) scale(0.5) rotateY(-45deg);
    opacity: 0.33333;
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="4"] {
    z-index: 7;
    -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
    transform: translateX(190px) scale(0.35) rotateY(-45deg);
    opacity: 0.16667;
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="5"] {
    z-index: 6;
    -webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
    transform: translateX(280px) scale(0.2) rotateY(-45deg);
    opacity: 0;
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="6"] {
    z-index: 5;
    -webkit-transform: translateX(370px) scale(0.05) rotateY(-45deg);
    transform: translateX(370px) scale(0.05) rotateY(-45deg);
    opacity: -0.16667;
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="7"] {
    z-index: 4;
    -webkit-transform: translateX(460px) scale(-0.1) rotateY(-45deg);
    transform: translateX(460px) scale(-0.1) rotateY(-45deg);
    opacity: -0.33333;
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="8"] {
    z-index: 3;
    -webkit-transform: translateX(550px) scale(-0.25) rotateY(-45deg);
    transform: translateX(550px) scale(-0.25) rotateY(-45deg);
    opacity: -0.5;
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="9"] {
    z-index: 2;
    -webkit-transform: translateX(640px) scale(-0.4) rotateY(-45deg);
    transform: translateX(640px) scale(-0.4) rotateY(-45deg);
    opacity: -0.66667;
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="10"] {
    z-index: 1;
    -webkit-transform: translateX(730px) scale(-0.55) rotateY(-45deg);
    transform: translateX(730px) scale(-0.55) rotateY(-45deg);
    opacity: -0.83333;
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="1"] {
    z-index: 9;
    -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
    transform: translateX(-410px) scale(0.65) rotateY(45deg);
    opacity: 0.5;
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="2"] {
    z-index: 10;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    box-shadow: $default-box-shadow;
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="3"] {
    z-index: 9;
    -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
    transform: translateX(10px) scale(0.65) rotateY(-45deg);
    opacity: 0.5;
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="4"] {
    z-index: 8;
    -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
    transform: translateX(100px) scale(0.5) rotateY(-45deg);
    opacity: 0.33333;
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="5"] {
    z-index: 7;
    -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
    transform: translateX(190px) scale(0.35) rotateY(-45deg);
    opacity: 0.16667;
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="6"] {
    z-index: 6;
    -webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
    transform: translateX(280px) scale(0.2) rotateY(-45deg);
    opacity: 0;
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="7"] {
    z-index: 5;
    -webkit-transform: translateX(370px) scale(0.05) rotateY(-45deg);
    transform: translateX(370px) scale(0.05) rotateY(-45deg);
    opacity: -0.16667;
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="8"] {
    z-index: 4;
    -webkit-transform: translateX(460px) scale(-0.1) rotateY(-45deg);
    transform: translateX(460px) scale(-0.1) rotateY(-45deg);
    opacity: -0.33333;
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="9"] {
    z-index: 3;
    -webkit-transform: translateX(550px) scale(-0.25) rotateY(-45deg);
    transform: translateX(550px) scale(-0.25) rotateY(-45deg);
    opacity: -0.5;
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="10"] {
    z-index: 2;
    -webkit-transform: translateX(640px) scale(-0.4) rotateY(-45deg);
    transform: translateX(640px) scale(-0.4) rotateY(-45deg);
    opacity: -0.66667;
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="1"] {
    z-index: 8;
    -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
    transform: translateX(-500px) scale(0.5) rotateY(45deg);
    opacity: 0.33333;
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="2"] {
    z-index: 9;
    -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
    transform: translateX(-410px) scale(0.65) rotateY(45deg);
    opacity: 0.5;
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="3"] {
    z-index: 10;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    box-shadow: $default-box-shadow;
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="4"] {
    z-index: 9;
    -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
    transform: translateX(10px) scale(0.65) rotateY(-45deg);
    opacity: 0.5;
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="5"] {
    z-index: 8;
    -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
    transform: translateX(100px) scale(0.5) rotateY(-45deg);
    opacity: 0.33333;
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="6"] {
    z-index: 7;
    -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
    transform: translateX(190px) scale(0.35) rotateY(-45deg);
    opacity: 0.16667;
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="7"] {
    z-index: 6;
    -webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
    transform: translateX(280px) scale(0.2) rotateY(-45deg);
    opacity: 0;
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="8"] {
    z-index: 5;
    -webkit-transform: translateX(370px) scale(0.05) rotateY(-45deg);
    transform: translateX(370px) scale(0.05) rotateY(-45deg);
    opacity: -0.16667;
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="9"] {
    z-index: 4;
    -webkit-transform: translateX(460px) scale(-0.1) rotateY(-45deg);
    transform: translateX(460px) scale(-0.1) rotateY(-45deg);
    opacity: -0.33333;
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="10"] {
    z-index: 3;
    -webkit-transform: translateX(550px) scale(-0.25) rotateY(-45deg);
    transform: translateX(550px) scale(-0.25) rotateY(-45deg);
    opacity: -0.5;
}

.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="1"] {
    z-index: 7;
    -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
    transform: translateX(-590px) scale(0.35) rotateY(45deg);
    opacity: 0.16667;
}

.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="2"] {
    z-index: 8;
    -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
    transform: translateX(-500px) scale(0.5) rotateY(45deg);
    opacity: 0.33333;
}

.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="3"] {
    z-index: 9;
    -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
    transform: translateX(-410px) scale(0.65) rotateY(45deg);
    opacity: 0.5;
}

.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="4"] {
    z-index: 10;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    box-shadow: $default-box-shadow;
}

.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="5"] {
    z-index: 9;
    -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
    transform: translateX(10px) scale(0.65) rotateY(-45deg);
    opacity: 0.5;
}

.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="6"] {
    z-index: 8;
    -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
    transform: translateX(100px) scale(0.5) rotateY(-45deg);
    opacity: 0.33333;
}

.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="7"] {
    z-index: 7;
    -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
    transform: translateX(190px) scale(0.35) rotateY(-45deg);
    opacity: 0.16667;
}

.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="8"] {
    z-index: 6;
    -webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
    transform: translateX(280px) scale(0.2) rotateY(-45deg);
    opacity: 0;
}

.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="9"] {
    z-index: 5;
    -webkit-transform: translateX(370px) scale(0.05) rotateY(-45deg);
    transform: translateX(370px) scale(0.05) rotateY(-45deg);
    opacity: -0.16667;
}

.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="10"] {
    z-index: 4;
    -webkit-transform: translateX(460px) scale(-0.1) rotateY(-45deg);
    transform: translateX(460px) scale(-0.1) rotateY(-45deg);
    opacity: -0.33333;
}

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="1"] {
    z-index: 6;
    -webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
    transform: translateX(-680px) scale(0.2) rotateY(45deg);
    opacity: 0;
}

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="2"] {
    z-index: 7;
    -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
    transform: translateX(-590px) scale(0.35) rotateY(45deg);
    opacity: 0.16667;
}

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="3"] {
    z-index: 8;
    -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
    transform: translateX(-500px) scale(0.5) rotateY(45deg);
    opacity: 0.33333;
}

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="4"] {
    z-index: 9;
    -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
    transform: translateX(-410px) scale(0.65) rotateY(45deg);
    opacity: 0.5;
}

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="5"] {
    z-index: 10;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    box-shadow: $default-box-shadow;
}

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="6"] {
    z-index: 9;
    -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
    transform: translateX(10px) scale(0.65) rotateY(-45deg);
    opacity: 0.5;
}

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="7"] {
    z-index: 8;
    -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
    transform: translateX(100px) scale(0.5) rotateY(-45deg);
    opacity: 0.33333;
}

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="8"] {
    z-index: 7;
    -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
    transform: translateX(190px) scale(0.35) rotateY(-45deg);
    opacity: 0.16667;
}

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="9"] {
    z-index: 6;
    -webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
    transform: translateX(280px) scale(0.2) rotateY(-45deg);
    opacity: 0;
}

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="10"] {
    z-index: 5;
    -webkit-transform: translateX(370px) scale(0.05) rotateY(-45deg);
    transform: translateX(370px) scale(0.05) rotateY(-45deg);
    opacity: -0.16667;
}

.coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="1"] {
    z-index: 5;
    -webkit-transform: translateX(-770px) scale(0.05) rotateY(45deg);
    transform: translateX(-770px) scale(0.05) rotateY(45deg);
    opacity: -0.16667;
}

.coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="2"] {
    z-index: 6;
    -webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
    transform: translateX(-680px) scale(0.2) rotateY(45deg);
    opacity: 0;
}

.coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="3"] {
    z-index: 7;
    -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
    transform: translateX(-590px) scale(0.35) rotateY(45deg);
    opacity: 0.16667;
}

.coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="4"] {
    z-index: 8;
    -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
    transform: translateX(-500px) scale(0.5) rotateY(45deg);
    opacity: 0.33333;
}

.coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="5"] {
    z-index: 9;
    -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
    transform: translateX(-410px) scale(0.65) rotateY(45deg);
    opacity: 0.5;
}

.coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="6"] {
    z-index: 10;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    box-shadow: $default-box-shadow;
}

.coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="7"] {
    z-index: 9;
    -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
    transform: translateX(10px) scale(0.65) rotateY(-45deg);
    opacity: 0.5;
}

.coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="8"] {
    z-index: 8;
    -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
    transform: translateX(100px) scale(0.5) rotateY(-45deg);
    opacity: 0.33333;
}

.coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="9"] {
    z-index: 7;
    -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
    transform: translateX(190px) scale(0.35) rotateY(-45deg);
    opacity: 0.16667;
}

.coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="10"] {
    z-index: 6;
    -webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
    transform: translateX(280px) scale(0.2) rotateY(-45deg);
    opacity: 0;
}

.coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="1"] {
    z-index: 4;
    -webkit-transform: translateX(-860px) scale(-0.1) rotateY(45deg);
    transform: translateX(-860px) scale(-0.1) rotateY(45deg);
    opacity: -0.33333;
}

.coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="2"] {
    z-index: 5;
    -webkit-transform: translateX(-770px) scale(0.05) rotateY(45deg);
    transform: translateX(-770px) scale(0.05) rotateY(45deg);
    opacity: -0.16667;
}

.coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="3"] {
    z-index: 6;
    -webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
    transform: translateX(-680px) scale(0.2) rotateY(45deg);
    opacity: 0;
}

.coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="4"] {
    z-index: 7;
    -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
    transform: translateX(-590px) scale(0.35) rotateY(45deg);
    opacity: 0.16667;
}

.coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="5"] {
    z-index: 8;
    -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
    transform: translateX(-500px) scale(0.5) rotateY(45deg);
    opacity: 0.33333;
}

.coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="6"] {
    z-index: 9;
    -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
    transform: translateX(-410px) scale(0.65) rotateY(45deg);
    opacity: 0.5;
}

.coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="7"] {
    z-index: 10;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    box-shadow: $default-box-shadow;
}

.coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="8"] {
    z-index: 9;
    -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
    transform: translateX(10px) scale(0.65) rotateY(-45deg);
    opacity: 0.5;
}

.coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="9"] {
    z-index: 8;
    -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
    transform: translateX(100px) scale(0.5) rotateY(-45deg);
    opacity: 0.33333;
}

.coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="10"] {
    z-index: 7;
    -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
    transform: translateX(190px) scale(0.35) rotateY(-45deg);
    opacity: 0.16667;
}

.coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="1"] {
    z-index: 3;
    -webkit-transform: translateX(-950px) scale(-0.25) rotateY(45deg);
    transform: translateX(-950px) scale(-0.25) rotateY(45deg);
    opacity: -0.5;
}

.coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="2"] {
    z-index: 4;
    -webkit-transform: translateX(-860px) scale(-0.1) rotateY(45deg);
    transform: translateX(-860px) scale(-0.1) rotateY(45deg);
    opacity: -0.33333;
}

.coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="3"] {
    z-index: 5;
    -webkit-transform: translateX(-770px) scale(0.05) rotateY(45deg);
    transform: translateX(-770px) scale(0.05) rotateY(45deg);
    opacity: -0.16667;
}

.coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="4"] {
    z-index: 6;
    -webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
    transform: translateX(-680px) scale(0.2) rotateY(45deg);
    opacity: 0;
}

.coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="5"] {
    z-index: 7;
    -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
    transform: translateX(-590px) scale(0.35) rotateY(45deg);
    opacity: 0.16667;
}

.coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="6"] {
    z-index: 8;
    -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
    transform: translateX(-500px) scale(0.5) rotateY(45deg);
    opacity: 0.33333;
}

.coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="7"] {
    z-index: 9;
    -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
    transform: translateX(-410px) scale(0.65) rotateY(45deg);
    opacity: 0.5;
}

.coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="8"] {
    z-index: 10;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    box-shadow: $default-box-shadow;
}

.coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="9"] {
    z-index: 9;
    -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
    transform: translateX(10px) scale(0.65) rotateY(-45deg);
    opacity: 0.5;
}

.coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="10"] {
    z-index: 8;
    -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
    transform: translateX(100px) scale(0.5) rotateY(-45deg);
    opacity: 0.33333;
}

.coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="1"] {
    z-index: 2;
    -webkit-transform: translateX(-1040px) scale(-0.4) rotateY(45deg);
    transform: translateX(-1040px) scale(-0.4) rotateY(45deg);
    opacity: -0.66667;
}

.coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="2"] {
    z-index: 3;
    -webkit-transform: translateX(-950px) scale(-0.25) rotateY(45deg);
    transform: translateX(-950px) scale(-0.25) rotateY(45deg);
    opacity: -0.5;
}

.coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="3"] {
    z-index: 4;
    -webkit-transform: translateX(-860px) scale(-0.1) rotateY(45deg);
    transform: translateX(-860px) scale(-0.1) rotateY(45deg);
    opacity: -0.33333;
}

.coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="4"] {
    z-index: 5;
    -webkit-transform: translateX(-770px) scale(0.05) rotateY(45deg);
    transform: translateX(-770px) scale(0.05) rotateY(45deg);
    opacity: -0.16667;
}

.coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="5"] {
    z-index: 6;
    -webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
    transform: translateX(-680px) scale(0.2) rotateY(45deg);
    opacity: 0;
}

.coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="6"] {
    z-index: 7;
    -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
    transform: translateX(-590px) scale(0.35) rotateY(45deg);
    opacity: 0.16667;
}

.coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="7"] {
    z-index: 8;
    -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
    transform: translateX(-500px) scale(0.5) rotateY(45deg);
    opacity: 0.33333;
}

.coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="8"] {
    z-index: 9;
    -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
    transform: translateX(-410px) scale(0.65) rotateY(45deg);
    opacity: 0.5;
}

.coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="9"] {
    z-index: 10;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    box-shadow: $default-box-shadow;
}

.coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="10"] {
    z-index: 9;
    -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
    transform: translateX(10px) scale(0.65) rotateY(-45deg);
    opacity: 0.5;
}

.coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="1"] {
    z-index: 1;
    -webkit-transform: translateX(-1130px) scale(-0.55) rotateY(45deg);
    transform: translateX(-1130px) scale(-0.55) rotateY(45deg);
    opacity: -0.83333;
}

.coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="2"] {
    z-index: 2;
    -webkit-transform: translateX(-1040px) scale(-0.4) rotateY(45deg);
    transform: translateX(-1040px) scale(-0.4) rotateY(45deg);
    opacity: -0.66667;
}

.coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="3"] {
    z-index: 3;
    -webkit-transform: translateX(-950px) scale(-0.25) rotateY(45deg);
    transform: translateX(-950px) scale(-0.25) rotateY(45deg);
    opacity: -0.5;
}

.coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="4"] {
    z-index: 4;
    -webkit-transform: translateX(-860px) scale(-0.1) rotateY(45deg);
    transform: translateX(-860px) scale(-0.1) rotateY(45deg);
    opacity: -0.33333;
}

.coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="5"] {
    z-index: 5;
    -webkit-transform: translateX(-770px) scale(0.05) rotateY(45deg);
    transform: translateX(-770px) scale(0.05) rotateY(45deg);
    opacity: -0.16667;
}

.coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="6"] {
    z-index: 6;
    -webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
    transform: translateX(-680px) scale(0.2) rotateY(45deg);
    opacity: 0;
}

.coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="7"] {
    z-index: 7;
    -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
    transform: translateX(-590px) scale(0.35) rotateY(45deg);
    opacity: 0.16667;
}

.coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="8"] {
    z-index: 8;
    -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
    transform: translateX(-500px) scale(0.5) rotateY(45deg);
    opacity: 0.33333;
}

.coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="9"] {
    z-index: 9;
    -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
    transform: translateX(-410px) scale(0.65) rotateY(45deg);
    opacity: 0.5;
}

.coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="10"] {
    z-index: 10;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    box-shadow: $default-box-shadow;
}

.prev-arrow,
.next-arrow {
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 50%;
    padding: 1.5rem 2rem;
    color: white;
    font-size: 3rem;
    line-height: 3rem;
    background: transparent;
    border: 2px solid white;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: color 200ms, background 200ms;
    transition: color 200ms, background 200ms;
}

.prev-arrow:hover,
.next-arrow:hover,
.prev-arrow:focus,
.next-arrow:focus {
    color: $orange;
    background: white
}

.prev-arrow {
    left: 0%;
}

.prev-arrow:before {
    content: "❮";
}

.next-arrow {
    right: 0%;
}

.next-arrow:after {
    content: "❯";
}

.coverflow__image-box {}
